# =========================
# Python virtual environments
# =========================
venva/
venv_weather/
.venv/
.env/
# Environment variables
.env
*.env
# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp
# =========================
*.log
